[submodule "ibus-libpinyin"]
	path = ibus-libpinyin
	url = https://github.com/libpinyin/ibus-libpinyin.git
[submodule "macos-ime-panel"]
	path = macos-ime-panel
	url = https://github.com/makibus/macos-ime-panel.git
